<div class="row">
  <div class="col-sm-9 col-sm-push-3">
    {{outlet}}
  </div>
  <div class="col-sm-3 col-sm-pull-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <label style="font-weight: normal">
          <input type="checkbox">
          Filter to No Votes Only
        </label>
      </div>
      <div class="list-group">
        {{#each controller}}
          {{#link-to 'voting.player' this classNameBindings=":list-group-item isVoted:list-group-item-success"}}
            <span class="label label-primary pull-right">{{#if rating}}{{rating}}{{else}}n/a{{/if}}</span>
            {{name}}
            {{#if isLocked}}<i class="fa fa-lock"></i>{{/if}}
          {{/link-to}}
        {{/each}}
      </div>
    </div>
  </div>
</div>
