<strong>Players</strong>

<ul class='list-unstyled'>
  {{#each playersSorderByRank}}
    <li>
      <div style="clear: both;">
        {{#link-to "player" this class="label label-info"}}{{name}}{{/link-to}}
        <span class="pull-right">
          <span class="badge">{{rating}}</span>
        </span>
      </div>
    </li>
  {{/each}}
</ul>
