{{#each model itemController="team"}}
  <div class="well pull-left" style="width: 23%; margin-right: 10px;">
    <strong>{{name}}</strong>
    <span class="pull-right">
      <span class="badge">{{teamRank}}</span>
    </span>
    <ul class="list-unstyled">
      {{#each playersSorderByRank}}
        <li>
          <div style="clear: both;">
            {{#link-to "player" this class="label label-info"}}{{name}}{{/link-to}}
            <span class="pull-right">
              <span class="badge">{{rating}}</span>
            </span>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
{{/each}}
