<div class="row">
  <div class="col-md-3">
    <div class="well sidebar-nav">
      {{outlet playersOutlet}}
    </div>
  </div>
  <div class="col-md-9">
    {{outlet teamsOutlet}}
    {{outlet tableOutlet}}
    {{outlet matchesOutlet}}
  </div>
</div>
