@import "/bower/bootstrap/dist/css/bootstrap.css";
@import "/bower/fontawesome/css/font-awesome.css";
@import "./football/flaticon.css";

body {
  font-size: 18px;
}

.navbar-brand h1 {
  margin: 0;
  line-height: 20px;
}

.players-item {
  margin-bottom: 20px;
}
.players-item .media {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.players-item:nth-child(odd) .media {
  background: #fafafa;
}
.players-item .img-thumbnail {
  width: 60px;
  height: 60px;
}

.player-profile .img-thumbnail {
  width: 400px;
}

.tourney-table th {
  text-align: center;
}
.tourney-table th:first-child {
  text-align: left;
}
.tourney-table td {
  width: 9%;
  text-align: center;
}
