<div class="row">
  <div class="col-lg-3">
    <div class="list-group">
      {{#each}}
        {{#link-to 'tourney' this class="list-group-item"}}
          #{{id}} &mdash; {{date}}
        {{/link-to}}
      {{/each}}
      {{#link-to 'tourneys.new' class="list-group-item"}}
        Mockup
      {{/link-to}}
    </div>
  </div>
  <div class="col-lg-9">
    {{outlet}}
  </div>
</div>
