  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand"><h1 class="text-success">Futsal</h1></div>
      </div>
      <ul class="nav navbar-nav">
        {{#link-to "me" tagName="li" href=false}}
          {{#link-to "me"}}
            <i class="flaticon-football118 fa-lg"></i>
            {{#if auth.user}}
              {{auth.user.name}}
            {{else}}
              Auth
            {{/if}}
          {{/link-to}}
        {{/link-to}}
        {{#link-to "players" tagName="li" href=false}}
          {{#link-to "players"}}
            <i class="flaticon-football120 fa-lg"></i> Players
            <i class="fa fa-exclamation-circle text-danger" title="Somebody waits for your Vote!"></i>
          {{/link-to}}
        {{/link-to}}
        {{#link-to "tourneys" tagName="li" href=false}}
          {{#link-to "tourneys"}}
            <i class="flaticon-football117 fa-lg"></i> Tourneys
          {{/link-to}}
        {{/link-to}}
      </ul>
      <div class="navbar-right">
        <ul class="nav navbar-nav">
          {{#link-to "gameday" tagName="li" href=false}}
            {{#link-to "gameday"}}<i class="flaticon-flaming fa-lg"></i> Upcoming GameDay{{/link-to}}
          {{/link-to}}
          <li>
            <button class="btn navbar-btn btn-success active" title="I'm coming">+1</button>
          </li>
          {{!-- <li class="navbar-text">
            <em>3 days left</em>
          </li> --}}
          {{#if auth.user}}
            <li>
              {{#link-to "auth.logout"}}Logout{{/link-to}}
            </li>
          {{/if}}
      </div>
    </div><!--/.container-fluid -->
  </div>

<div class="container">
  {{outlet}}
</div>
