<div class="row players-list">
  <div class="col-sm-4 players-item">
    <div class="media">
      {{#link-to "player" 1 class="pull-left"}}
        <img src="https://secure.gravatar.com/avatar/c9ccf1c73cf2eb5a21bfa900493dbd4c?size=60px" alt="photo" class="media-object img-thumbnail">
      {{/link-to}}
      <div class="media-body">
        <h3 class="media-heading">
          {{#link-to "player" 1}}
            Zidan <span class="label label-danger">10</span>
          {{/link-to}}
        </h3>
        <p class="text-muted"><b class="text-success">+1</b> on Aug 13 at 12:23</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 players-item">
    <div class="media">
      {{#link-to "player" 2 class="pull-left"}}
        <img src="https://secure.gravatar.com/avatar/c9ccf1c73cf2eb5a21bfa900493dbd4c?size=60px" alt="photo" class="media-object img-thumbnail">
      {{/link-to}}
      <div class="media-body">
        <h3 class="media-heading">
          {{#link-to "player" 2}}
            Messi <span class="label label-danger">10</span>
          {{/link-to}}
        </h3>
        <p class="text-muted"><b class="text-success">+1</b> on Aug 14 at 15:12</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 players-item">
    <div class="media">
      {{#link-to "player" 3 class="pull-left"}}
        <img src="https://secure.gravatar.com/avatar/c9ccf1c73cf2eb5a21bfa900493dbd4c?size=60px" alt="photo" class="media-object img-thumbnail">
      {{/link-to}}
      <div class="media-body">
        <h3 class="media-heading">
          {{#link-to "player" 3}}
            Pirlo <span class="label label-danger">10</span>
          {{/link-to}}
        </h3>
        <p class="text-muted"><b class="text-success">+1</b> on Aug 15 at 00:01</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 players-item">
    <div class="media">
      {{#link-to "player" 4 class="pull-left"}}
        <img src="https://secure.gravatar.com/avatar/c9ccf1c73cf2eb5a21bfa900493dbd4c?size=60px" alt="photo" class="media-object img-thumbnail">
      {{/link-to}}
      <div class="media-body">
        <h3 class="media-heading">
          {{#link-to "player" 4}}
            Ronaldo <span class="label label-danger">10</span>
          {{/link-to}}
        </h3>
        <p class="text-muted"><b class="text-success">+1</b> on Aug 15 at 12:23</p>
      </div>
    </div>
  </div>
</div>
