<div class="row">
  <div class="col-md-9 col-md-push-3">
    <div class="row gap-md">
      <div class="col-md-8">
        <button class="btn fa-lg btn-success"><i class="flaticon-football90 fa-lg"></i> Randomize Teams</button>
        <button class="btn fa-lg btn-default"><i class="flaticon-soccer18 fa-lg"></i> Add Player</button>
      </div>
      <div class="col-md-4 text-right">
        <button class="btn fa-lg btn-default"><i class="flaticon-checkered3 fa-lg"></i> Setup</button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <b class="pull-right" title="Average Rating">7.1</b>
            <h3 class="panel-title">Alpha</h3>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="label label-warning pull-right">9</span>
              <a href="#">Кирилл</a>
            </li>
            <li class="list-group-item">
              <span class="label label-primary pull-right">8</span>
              <a href="#">Серёга (GK)</a>
            </li>
            <li class="list-group-item">
              <span class="label label-info pull-right">7</span>
              <a href="#">Витя</a>
            </li>
            <li class="list-group-item">
              <span class="label label-info pull-right">6</span>
              <a href="#">Тимур</a>
            </li>
            <li class="list-group-item">
              <span class="label label-default pull-right">2</span>
              <a href="#">Саша Дозер</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <b class="pull-right" title="Average Rating">7.1</b>
            <h3 class="panel-title">Bravo</h3>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="label label-warning pull-right">9</span>
              <a href="#">Кирилл</a>
            </li>
            <li class="list-group-item">
              <span class="label label-primary pull-right">8</span>
              <a href="#">Серёга (GK)</a>
            </li>
            <li class="list-group-item">
              <span class="label label-info pull-right">7</span>
              <a href="#">Витя</a>
            </li>
            <li class="list-group-item">
              <span class="label label-info pull-right">6</span>
              <a href="#">Тимур</a>
            </li>
            <li class="list-group-item">
              <span class="label label-default pull-right">2</span>
              <a href="#">Саша Дозер</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <b class="pull-right" title="Average Rating">7.1</b>
            <h3 class="panel-title">Charlie</h3>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="label label-warning pull-right">9</span>
              <a href="#">Кирилл</a>
            </li>
            <li class="list-group-item">
              <span class="label label-primary pull-right">8</span>
              <a href="#">Серёга (GK)</a>
            </li>
            <li class="list-group-item">
              <span class="label label-info pull-right">7</span>
              <a href="#">Витя</a>
            </li>
            <li class="list-group-item">
              <span class="label label-info pull-right">6</span>
              <a href="#">Тимур</a>
            </li>
            <li class="list-group-item">
              <span class="label label-default pull-right">2</span>
              <a href="#">Саша Дозер</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <b class="pull-right" title="Average Rating">7.1</b>
            <h3 class="panel-title">Delta</h3>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="label label-warning pull-right">9</span>
              <a href="#">Кирилл</a>
            </li>
            <li class="list-group-item">
              <span class="label label-primary pull-right">8</span>
              <a href="#">Серёга (GK)</a>
            </li>
            <li class="list-group-item">
              <span class="label label-info pull-right">7</span>
              <a href="#">Витя</a>
            </li>
            <li class="list-group-item">
              <span class="label label-info pull-right">6</span>
              <a href="#">Тимур</a>
            </li>
            <li class="list-group-item">
              <span class="label label-default pull-right">2</span>
              <a href="#">Саша Дозер</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row gap-lg">
      <div class="col-md-8">
        <button class="btn fa-lg btn-success"><i class="flaticon-goal fa-lg"></i> Save</button>
        <button class="btn fa-lg btn-default"><i class="flaticon-football79 fa-lg"></i> Discard</button>
      </div>
      <div class="col-md-4 text-right">
      </div>
    </div>
  </div>

  <div class="col-md-3 col-md-pull-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <b class="pull-right" title="AVR">7.3</b>
        <h3 class="panel-title">Average Rating</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <select>
            <option>&mdash;</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
          </select>
          <span class="label label-warning pull-right">9</span>
          <a href="#">Кирилл</a>
        </li>
        <li class="list-group-item">
          <select>
            <option>&mdash;</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
          </select>
          <span class="label label-primary pull-right">8</span>
          <a href="#">Серёга (GK)</a>
        </li>
        <li class="list-group-item">
          <select>
            <option>&mdash;</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
          </select>
          <span class="label label-info pull-right">7</span>
          <a href="#">Витя</a>
        </li>
        <li class="list-group-item">
          <select>
            <option>&mdash;</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
          </select>
          <span class="label label-info pull-right">6</span>
          <a href="#">Тимур</a>
        </li>
        <li class="list-group-item">
          <select>
            <option>&mdash;</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
          </select>
          <span class="label label-default pull-right">2</span>
          <a href="#">Саша Дозер</a>
        </li>
        <li class="list-group-item">
          <select>
            <option>&mdash;</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
          </select>
          <span class="label label-warning pull-right">9</span>
          <a href="#">Кирилл</a>
        </li>
        <li class="list-group-item">
          <select>
            <option>&mdash;</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
          </select>
          <span class="label label-primary pull-right">8</span>
          <a href="#">Серёга (GK)</a>
        </li>
        <li class="list-group-item">
          <select>
            <option>&mdash;</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
          </select>
          <span class="label label-info pull-right">7</span>
          <a href="#">Витя</a>
        </li>
        <li class="list-group-item">
          <select>
            <option>&mdash;</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
          </select>
          <span class="label label-info pull-right">6</span>
          <a href="#">Тимур</a>
        </li>
        <li class="list-group-item">
          <select>
            <option>&mdash;</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
          </select>
          <span class="label label-default pull-right">2</span>
          <a href="#">Саша Дозер</a>
        </li>
        <li class="list-group-item">
          <select>
            <option>&mdash;</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
          </select>
          <span class="label label-warning pull-right">9</span>
          <a href="#">Кирилл</a>
        </li>
        <li class="list-group-item">
          <select>
            <option>&mdash;</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
          </select>
          <span class="label label-primary pull-right">8</span>
          <a href="#">Серёга (GK)</a>
        </li>
        <li class="list-group-item">
          <select>
            <option>&mdash;</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
          </select>
          <span class="label label-info pull-right">7</span>
          <a href="#">Витя</a>
        </li>
        <li class="list-group-item">
          <select>
            <option>&mdash;</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
          </select>
          <span class="label label-info pull-right">6</span>
          <a href="#">Тимур</a>
        </li>
        <li class="list-group-item">
          <select>
            <option>&mdash;</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
          </select>
          <span class="label label-default pull-right">2</span>
          <a href="#">Саша Дозер</a>
        </li>
      </ul>
    </div>
    <p class="text-muted"><em>* Chosen letters predefine teams for custom players</em></p>
  </div>

</div>
