<h2>
  GameDay #23
  <span class="label label-success active" title="Been there">+1</span>
  <small>July 04, 2014</small>
</h2>

<ul class="nav nav-pills">
  <li class="active"><a href="#">Overview</a></li>
  <li><a href="#">Alpha</a></li>
  <li><a href="#">Bravo</a></li>
  <li><a href="#">Charlie <i class="flaticon-football117"></i></a></li>
  <li><a href="#">Delta</a></li>
</ul>

<hr class="hr-sm">

<div class="row">
  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <b class="pull-right" title="Rating Sum">32.4</b>
        <h3 class="panel-title">Alpha</h3>
      </div>
      <ul class="panel-body list-unstyled">
        <li>
          <span class="label label-warning pull-right">9</span>
          <a href="#">Кирилл</a>
        </li>
        <li>
          <span class="label label-primary pull-right">8</span>
          <a href="#">Серёга (GK)</a>
        </li>
        <li>
          <span class="label label-info pull-right">7</span>
          <a href="#">Витя</a>
        </li>
        <li>
          <span class="label label-info pull-right">6</span>
          <a href="#">Тимур</a>
        </li>
        <li>
          <span class="label label-default pull-right">2</span>
          <a href="#">Саша Дозер</a>
        </li>
      </ul>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">
        <b class="pull-right" title="Rating Sum">32.1</b>
        <h3 class="panel-title">Bravo</h3>
      </div>
      <ul class="panel-body list-unstyled">
        <li>
          <span class="label label-warning pull-right">9</span>
          <a href="#">Кирилл</a>
        </li>
        <li>
          <span class="label label-primary pull-right">8</span>
          <a href="#">Серёга (GK)</a>
        </li>
        <li>
          <span class="label label-info pull-right">7</span>
          <a href="#">Витя</a>
        </li>
        <li>
          <span class="label label-info pull-right">6</span>
          <a href="#">Тимур</a>
        </li>
        <li>
          <span class="label label-default pull-right">2</span>
          <a href="#">Саша Дозер</a>
        </li>
      </ul>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <b class="pull-right" title="Rating Sum">32.2</b>
        <h3 class="panel-title">Charlie <i class="flaticon-football117"></i></h3>
      </div>
      <ul class="panel-body list-unstyled">
        <li>
          <span class="label label-warning pull-right">9</span>
          <a href="#">Кирилл</a>
        </li>
        <li>
          <span class="label label-primary pull-right">8</span>
          <a href="#">Серёга (GK)</a>
        </li>
        <li>
          <span class="label label-info pull-right">7</span>
          <a href="#">Витя</a>
        </li>
        <li>
          <span class="label label-info pull-right">6</span>
          <a href="#">Тимур</a>
        </li>
        <li>
          <span class="label label-default pull-right">2</span>
          <a href="#">Саша Дозер</a>
        </li>
      </ul>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <b class="pull-right" title="Rating Sum">32.3</b>
        <h3 class="panel-title">Delta</h3>
      </div>
      <ul class="panel-body list-unstyled">
        <li>
          <span class="label label-warning pull-right">9</span>
          <a href="#">Кирилл</a>
        </li>
        <li>
          <span class="label label-primary pull-right">8</span>
          <a href="#">Серёга (GK)</a>
        </li>
        <li>
          <span class="label label-info pull-right">7</span>
          <a href="#">Витя</a>
        </li>
        <li>
          <span class="label label-info pull-right">6</span>
          <a href="#">Тимур</a>
        </li>
        <li>
          <span class="label label-default pull-right">2</span>
          <a href="#">Саша Дозер</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-9">
    <table class="table tourney-table">
      <thead>
        <tr>
          <th>Team</th>
          <th title="Average Rating">AVR</th>
          <th title="Matches Played">MP</th>
          <th title="Won">W</th>
          <th title="Drawn">D</th>
          <th title="Lost">L</th>
          <th title="Goals For">GF</th>
          <th title="Goals Against">GA</th>
          <th title="Goal Difference">±</th>
          <th title="Points">Pts</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Charlie <i class="flaticon-football117"></i></th>
          <td><span class="label label-info">7.1</span></td>
          <td>6</td>
          <td>4</td>
          <td>0</td>
          <td>1</td>
          <td>7</td>
          <td>4</td>
          <td>3</td>
          <td>12</td>
        </tr>
        <tr class="success">
          <th>Bravo</th>
          <td><span class="label label-info">7.2</span></td>
          <td>6</td>
          <td>2</td>
          <td>2</td>
          <td>2</td>
          <td>6</td>
          <td>8</td>
          <td>-2</td>
          <td>8</td>
        </tr>
        <tr>
          <th>Delta</th>
          <td><span class="label label-info">7.3</span></td>
          <td>6</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>5</td>
          <td>5</td>
          <td>0</td>
          <td>5</td>
        </tr>
        <tr>
          <th>Alpha</th>
          <td><span class="label label-info">7.4</span></td>
          <td>6</td>
          <td>0</td>
          <td>4</td>
          <td>1</td>
          <td>1</td>
          <td>2</td>
          <td>-1</td>
          <td>4</td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-lg-6">
        <h3>Matches</h3>
        <table class="table table-striped matches-table">
          <tbody>
            <tr>
              <td>Alpha</td> <td>0 : 1</td> <td><b>Charlie</b></td>
            </tr>
            <tr class="text-success">
              <td><b>Delta</b></td> <td>3 : 0</td> <td>Bravo</td>
            </tr>
            <tr class="text-success">
              <td>Charlie</td> <td>0 : 1</td> <td><b>Bravo</b></td>
            </tr>
            <tr>
              <td>Delta</td> <td>0 : 0</td> <td>Alpha</td>
            </tr>
            <tr class="text-success">
              <td>Bravo</td> <td>0 : 0</td> <td>Alpha</td>
            </tr>
            <tr>
              <td><b>Charlie</b></td> <td>1 : 0</td> <td>Delta</td>
            </tr>
            <tr class="text-success">
              <td>Alpha</td> <td>1 : 1</td> <td>Bravo</td>
            </tr>
            <tr>
              <td>Delta</td> <td>1 : 2</td> <td><b>Charlie</b></td>
            </tr>
            <tr class="text-success">
              <td>Bravo</td> <td>2 : 3</td> <td><b>Charlie</b></td>
            </tr>
            <tr>
              <td>Alpha</td> <td>0 : 0</td> <td>Delta</td>
            </tr>
            <tr class="text-success">
              <td><b>Bravo</b></td> <td>2 : 1</td> <td>Delta</td>
            </tr>
            <tr>
              <td>Charlie</td> <td>0 : 0</td> <td>Alpha</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-6">
        <h3>Shooters</h3>
        <table class="table table-striped shooters-table">
          <tbody>
            <tr>
              <td>1</td>
              <td><a href="#">Витя</a></td>
              <td><span class="label label-info">7</span></td>
              <td>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td><a href="#">Серёга (GK)</a></td>
              <td><span class="label label-primary">8</span></td>
              <td>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td><a href="#">Кирилл</a></td>
              <td><span class="label label-warning">9</span></td>
              <td>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td><a href="#">Тимур</a></td>
              <td><span class="label label-info">6</span></td>
              <td>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td><a href="#">Саша Дозер</a></td>
              <td><span class="label label-default">2</span></td>
              <td>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
              </td>
            </tr>
            <tr class="success">
              <td>6</td>
              <td><a href="#">Витя</a></td>
              <td><span class="label label-info">7</span></td>
              <td>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
              </td>
            </tr>
            <tr>
              <td>7</td>
              <td><a href="#">Серёга (GK)</a></td>
              <td><span class="label label-primary">8</span></td>
              <td>
                <i class="flaticon-football28"></i>
                <i class="flaticon-football28"></i>
              </td>
            </tr>
            <tr>
              <td>8</td>
              <td><a href="#">Кирилл</a></td>
              <td><span class="label label-warning">9</span></td>
              <td>
                <i class="flaticon-football28"></i>
              </td>
            </tr>
            <tr>
              <td>9</td>
              <td><a href="#">Тимур</a></td>
              <td><span class="label label-info">6</span></td>
              <td>
                <i class="flaticon-football28"></i>
              </td>
            </tr>
            <tr>
              <td>10</td>
              <td><a href="#">Саша Дозер</a></td>
              <td><span class="label label-default">2</span></td>
              <td>
                <i class="flaticon-football28"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
