<div class="row players-list">
  {{#each}}
    <div class="col-sm-4 players-item">
      <div class="media">
        {{#link-to "player" this class="pull-left"}}
          <img src="{{unbound photo}}?size=60px" alt="photo" class="media-object img-thumbnail">
        {{/link-to}}
        <div class="media-body">
          <h3 class="media-heading">
            {{#link-to "player" this}}
              {{name}} <span class="label label-primary">{{rating}}</span>
            {{/link-to}}
          </h3>
          <ul class="list-unstyled">
            <li><i class="fa fa-check-circle"></i> Voted (<a href="#">Re-Vote</a>)</li>
            <li><b class="text-success">+1</b> on <a href="#">Upcoming Tourney</a></li>
          </ul>
        </div>
      </div>
    </div>
  {{/each}}
</div>
